body {
  padding-top: 100px;
  text-align: right;
}

.sm-img-section {
  width: 100% !important;
  margin-bottom: 20px !important;
  display: none;
  margin: auto;
}

@media (max-width:900px) {
  .sm-img-section {
    display: flex;
  }

  .big-img-section {
    display: none;
  }
}